---
http_interactions:
- request:
    method: post
    uri: https://<host>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<client_id>&client_secret=<client_secret>&username=<username>&password=<password><security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://login.salesforce.com/id/00D1a000000H3O9EAK/0051a000000UGT8AAO","issued_at":"1433887569106","token_type":"Bearer","instance_url":"https://<host>","signature":"FXsFwxwntQi1pI74vzwOOYylDUIWOo+LkgnVGiwmB6I=","access_token":"00D1a000000H3O9!AQ4AQBXTS4r5FG0Bm5V10yICLble63B7zQPiRQ_U4mkOC0rVM36iCCQ1bo6mlT59mZt2AUQ1iWhaYFtXhVL2w4_3O0mrUCPx"}'
  recorded_at: Tue, 09 Jun 2015 22:06:09 GMT
- request:
    method: post
    uri: https://<host>/services/data/<api_version>/sobjects/CustomObject__c
    body:
      encoding: UTF-8
      string: '{"Name":"Sample object"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQBXTS4r5FG0Bm5V10yICLble63B7zQPiRQ_U4mkOC0rVM36iCCQ1bo6mlT59mZt2AUQ1iWhaYFtXhVL2w4_3O0mrUCPx
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=1/15000
      Location:
      - "/services/data/<api_version>/sobjects/CustomObject__c/a001a000001cLRLAA2"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a001a000001cLRLAA2","success":true,"errors":[]}'
  recorded_at: Tue, 09 Jun 2015 22:06:10 GMT
- request:
    method: get
    uri: https://<host>/services/data/<api_version>/query?q=select%20Id,%20SystemModstamp,%20LastModifiedById,%20Name,%20Example_Field__c%20from%20CustomObject__c%20where%20Id%20=%20%27a001a000001cLRLAA2%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQBXTS4r5FG0Bm5V10yICLble63B7zQPiRQ_U4mkOC0rVM36iCCQ1bo6mlT59mZt2AUQ1iWhaYFtXhVL2w4_3O0mrUCPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=1/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"CustomObject__c","url":"/services/data/<api_version>/sobjects/CustomObject__c/a001a000001cLRLAA2"},"Id":"a001a000001cLRLAA2","SystemModstamp":"2015-06-09T22:06:10.000+0000","LastModifiedById":"0051a000000UGT8AAO","Name":"Sample
        object","Example_Field__c":null}]}'
  recorded_at: Tue, 09 Jun 2015 22:06:11 GMT
- request:
    method: get
    uri: https://<host>/services/data/<api_version>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQBXTS4r5FG0Bm5V10yICLble63B7zQPiRQ_U4mkOC0rVM36iCCQ1bo6mlT59mZt2AUQ1iWhaYFtXhVL2w4_3O0mrUCPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=1/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"limits":"/services/data/<api_version>/limits","sobjects":"/services/data/<api_version>/sobjects","connect":"/services/data/<api_version>/connect","query":"/services/data/<api_version>/query","theme":"/services/data/<api_version>/theme","queryAll":"/services/data/<api_version>/queryAll","tooling":"/services/data/<api_version>/tooling","chatter":"/services/data/<api_version>/chatter","analytics":"/services/data/<api_version>/analytics","recent":"/services/data/<api_version>/recent","commerce":"/services/data/<api_version>/commerce","licensing":"/services/data/<api_version>/licensing","identity":"https://login.salesforce.com/id/00D1a000000H3O9EAK/0051a000000UGT8AAO","flexiPage":"/services/data/<api_version>/flexiPage","search":"/services/data/<api_version>/search","quickActions":"/services/data/<api_version>/quickActions","appMenu":"/services/data/<api_version>/appMenu"}'
  recorded_at: Tue, 09 Jun 2015 22:06:12 GMT
- request:
    method: get
    uri: https://login.salesforce.com/id/00D1a000000H3O9EAK/0051a000000UGT8AAO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQBXTS4r5FG0Bm5V10yICLble63B7zQPiRQ_U4mkOC0rVM36iCCQ1bo6mlT59mZt2AUQ1iWhaYFtXhVL2w4_3O0mrUCPx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://login.salesforce.com/id/00D1a000000H3O9EAK/0051a000000UGT8AAO","asserted_user":true,"user_id":"0051a000000UGT8AAO","organization_id":"00D1a000000H3O9EAK","username":"<username>","nick_name":"andrew+salesforce1.42656567106328E12","display_name":"Andrew
        Horner","email":"andrew@tablexi.com","email_verified":true,"first_name":"Andrew","last_name":"Horner","timezone":"America/Los_Angeles","photos":{"picture":"https://c.na24.content.force.com/profilephoto/005/F","thumbnail":"https://c.na24.content.force.com/profilephoto/005/T"},"addr_street":null,"addr_city":null,"addr_state":null,"addr_country":"US","addr_zip":"60661","mobile_phone":null,"mobile_phone_verified":false,"status":{"created_date":null,"body":null},"urls":{"enterprise":"https://<host>/services/Soap/c/{version}/00D1a000000H3O9","metadata":"https://<host>/services/Soap/m/{version}/00D1a000000H3O9","partner":"https://<host>/services/Soap/u/{version}/00D1a000000H3O9","rest":"https://<host>/services/data/v{version}/","sobjects":"https://<host>/services/data/v{version}/sobjects/","search":"https://<host>/services/data/v{version}/search/","query":"https://<host>/services/data/v{version}/query/","recent":"https://<host>/services/data/v{version}/recent/","profile":"https://<host>/0051a000000UGT8AAO","feeds":"https://<host>/services/data/v{version}/chatter/feeds","groups":"https://<host>/services/data/v{version}/chatter/groups","users":"https://<host>/services/data/v{version}/chatter/users","feed_items":"https://<host>/services/data/v{version}/chatter/feed-items"},"active":true,"user_type":"STANDARD","language":"en_US","locale":"en_US","utcOffset":-28800000,"last_modified_date":"2015-03-17T04:14:23.000+0000","is_app_installed":true}'
  recorded_at: Tue, 09 Jun 2015 22:06:12 GMT
- request:
    method: delete
    uri: https://<host>/services/data/<api_version>/sobjects/CustomObject__c/a001a000001cLRLAA2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQBXTS4r5FG0Bm5V10yICLble63B7zQPiRQ_U4mkOC0rVM36iCCQ1bo6mlT59mZt2AUQ1iWhaYFtXhVL2w4_3O0mrUCPx
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=1/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Jun 2015 22:06:14 GMT
recorded_with: VCR 2.9.3
