---
http_interactions:
- request:
    method: post
    uri: https://<host>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<client_id>&client_secret=<client_secret>&username=<username>&password=<password><security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://login.salesforce.com/id/00D1a000000H3O9EAK/0051a000000UGT8AAO","issued_at":"1434384641907","token_type":"Bearer","instance_url":"https://<host>","signature":"p7yu94exvyNzg2xE4lcpcFLv3oEo2eXNfL96OxU205w=","access_token":"00D1a000000H3O9!AQ4AQAaHttmaq61w16eyINC0d2fYjByWdZ3nscOFKCC7bHt9ooYjoQJKYpsHaWtJ9d0jDhi0T6Hu7vMwBzun8zg14ADt0U9s"}'
  recorded_at: Mon, 15 Jun 2015 16:10:42 GMT
- request:
    method: post
    uri: https://<host>/services/data/<api_version>/sobjects/CustomObject__c
    body:
      encoding: UTF-8
      string: '{"Name":"Custom object","Example_Field__c":"Some sample text"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQAaHttmaq61w16eyINC0d2fYjByWdZ3nscOFKCC7bHt9ooYjoQJKYpsHaWtJ9d0jDhi0T6Hu7vMwBzun8zg14ADt0U9s
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=3/15000
      Location:
      - "/services/data/<api_version>/sobjects/CustomObject__c/a001a000001cm88AAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a001a000001cm88AAA","success":true,"errors":[]}'
  recorded_at: Mon, 15 Jun 2015 16:10:42 GMT
- request:
    method: get
    uri: https://<host>/services/data/<api_version>/query?q=select%20Id,%20SystemModstamp,%20LastModifiedById,%20Name,%20Example_Field__c%20from%20CustomObject__c%20where%20Id%20=%20%27a001a000001cm88AAA%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQAaHttmaq61w16eyINC0d2fYjByWdZ3nscOFKCC7bHt9ooYjoQJKYpsHaWtJ9d0jDhi0T6Hu7vMwBzun8zg14ADt0U9s
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=3/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"CustomObject__c","url":"/services/data/<api_version>/sobjects/CustomObject__c/a001a000001cm88AAA"},"Id":"a001a000001cm88AAA","SystemModstamp":"2015-06-15T16:10:42.000+0000","LastModifiedById":"0051a000000UGT8AAO","Name":"Custom
        object","Example_Field__c":"Some sample text"}]}'
  recorded_at: Mon, 15 Jun 2015 16:10:42 GMT
- request:
    method: get
    uri: https://<host>/services/data/<api_version>/query?q=select%20Id,%20SystemModstamp,%20LastModifiedById,%20Name,%20Example_Field__c%20from%20CustomObject__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQAaHttmaq61w16eyINC0d2fYjByWdZ3nscOFKCC7bHt9ooYjoQJKYpsHaWtJ9d0jDhi0T6Hu7vMwBzun8zg14ADt0U9s
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=3/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"CustomObject__c","url":"/services/data/<api_version>/sobjects/CustomObject__c/a001a000001cm88AAA"},"Id":"a001a000001cm88AAA","SystemModstamp":"2015-06-15T16:10:42.000+0000","LastModifiedById":"0051a000000UGT8AAO","Name":"Custom
        object","Example_Field__c":"Some sample text"}]}'
  recorded_at: Mon, 15 Jun 2015 16:10:42 GMT
- request:
    method: get
    uri: https://<host>/services/data/<api_version>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQAaHttmaq61w16eyINC0d2fYjByWdZ3nscOFKCC7bHt9ooYjoQJKYpsHaWtJ9d0jDhi0T6Hu7vMwBzun8zg14ADt0U9s
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=3/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"limits":"/services/data/<api_version>/limits","sobjects":"/services/data/<api_version>/sobjects","connect":"/services/data/<api_version>/connect","query":"/services/data/<api_version>/query","theme":"/services/data/<api_version>/theme","queryAll":"/services/data/<api_version>/queryAll","tooling":"/services/data/<api_version>/tooling","chatter":"/services/data/<api_version>/chatter","analytics":"/services/data/<api_version>/analytics","recent":"/services/data/<api_version>/recent","commerce":"/services/data/<api_version>/commerce","licensing":"/services/data/<api_version>/licensing","identity":"https://login.salesforce.com/id/00D1a000000H3O9EAK/0051a000000UGT8AAO","flexiPage":"/services/data/<api_version>/flexiPage","search":"/services/data/<api_version>/search","quickActions":"/services/data/<api_version>/quickActions","wave":"/services/data/<api_version>/wave","appMenu":"/services/data/<api_version>/appMenu"}'
  recorded_at: Mon, 15 Jun 2015 16:10:42 GMT
- request:
    method: get
    uri: https://login.salesforce.com/id/00D1a000000H3O9EAK/0051a000000UGT8AAO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQAaHttmaq61w16eyINC0d2fYjByWdZ3nscOFKCC7bHt9ooYjoQJKYpsHaWtJ9d0jDhi0T6Hu7vMwBzun8zg14ADt0U9s
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://login.salesforce.com/id/00D1a000000H3O9EAK/0051a000000UGT8AAO","asserted_user":true,"user_id":"0051a000000UGT8AAO","organization_id":"00D1a000000H3O9EAK","username":"andrew+salesforce@tablexi.com","nick_name":"andrew+salesforce1.42656567106328E12","display_name":"Andrew
        Horner","email":"andrew@tablexi.com","email_verified":true,"first_name":"Andrew","last_name":"Horner","timezone":"America/Los_Angeles","photos":{"picture":"https://c.na24.content.force.com/profilephoto/005/F","thumbnail":"https://c.na24.content.force.com/profilephoto/005/T"},"addr_street":null,"addr_city":null,"addr_state":null,"addr_country":"US","addr_zip":"60661","mobile_phone":null,"mobile_phone_verified":false,"status":{"created_date":null,"body":null},"urls":{"enterprise":"https://<host>/services/Soap/c/{version}/00D1a000000H3O9","metadata":"https://<host>/services/Soap/m/{version}/00D1a000000H3O9","partner":"https://<host>/services/Soap/u/{version}/00D1a000000H3O9","rest":"https://<host>/services/data/v{version}/","sobjects":"https://<host>/services/data/v{version}/sobjects/","search":"https://<host>/services/data/v{version}/search/","query":"https://<host>/services/data/v{version}/query/","recent":"https://<host>/services/data/v{version}/recent/","profile":"https://<host>/0051a000000UGT8AAO","feeds":"https://<host>/services/data/v{version}/chatter/feeds","groups":"https://<host>/services/data/v{version}/chatter/groups","users":"https://<host>/services/data/v{version}/chatter/users","feed_items":"https://<host>/services/data/v{version}/chatter/feed-items"},"active":true,"user_type":"STANDARD","language":"en_US","locale":"en_US","utcOffset":-28800000,"last_modified_date":"2015-03-17T04:14:23.000+0000","is_app_installed":true}'
  recorded_at: Mon, 15 Jun 2015 16:10:43 GMT
- request:
    method: delete
    uri: https://<host>/services/data/<api_version>/sobjects/CustomObject__c/a001a000001cm88AAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D1a000000H3O9!AQ4AQAaHttmaq61w16eyINC0d2fYjByWdZ3nscOFKCC7bHt9ooYjoQJKYpsHaWtJ9d0jDhi0T6Hu7vMwBzun8zg14ADt0U9s
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=3/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 15 Jun 2015 16:10:43 GMT
recorded_with: VCR 2.9.3
